* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    background-color: white;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2em;
}

.verticalWrapperModifier{
    flex-direction: column;
}

.horizontalWrapperModifier{
    flex-direction: row;
}

p{
    color:red;
}